<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="entropy" data-view="Meter" data-title="Entropy" data-min="0" data-max="100"></div>
    </li>
  </ul>
</div>
